<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poldichen.markerspringboot.dao.ILabelDao">

    <select id="getAll" resultType="com.poldichen.markerspringboot.entity.Label">
        SELECT * FROM label
    </select>

    <insert id="createOne" parameterType="com.poldichen.markerspringboot.entity.Label"
            useGeneratedKeys="true" keyProperty="label.id">
        insert into label (name)
        values (#{label.name})
    </insert>

    <select id="countLabels" resultType="int">
        select count(*) from label;
    </select>

</mapper>